{% extends 'catalog/template.html' %}
{% block title %}Login{% endblock %}

{% block content %}
<!-- Раздел2 Категории -->
<div class="container px-4 py-5" id="featured-3"> <!-- container с текстами -->
    <h2 class="pb-2 border-bottom text-center">Вход на сайт</h2>
    <p class="lead text-center">Форма для работы</p>

    <form class="row" method="post" enctype="multipart/form-data"> <!-- Разделять формы -->
        <div class="col-6">
                <form method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">
                        Войти
                    </button>
                    <a href="{% url 'catalog:home' %}">Отмена</a>
                </form>
<!--            <div class="card">-->
<!--                <div class="card-body">-->
<!--                    -->
<!--                </div>-->
<!--                <button type="submit" class="btn btn-primary">-->
<!--                    Войти-->
<!--                </button>-->
<!--            </div>-->
        </div>
    </form>
</div>
{% endblock %}