{% extends 'blog/template.html' %}
{% block content %}
<!-- Раздел2 Категории -->
<div class="container px-4 py-5" id="featured-3"> <!-- container с текстами -->
    <h2 class="pb-2 border-bottom text-center">Продукты</h2>
    <p class="lead text-center">Создай сам новый продукт</p>

    <div class="row row-cols-1 row-cols-md-3 g-4"> <!-- Разделять формы -->
        <div class="col">
            <form class="row" method="post" enctype="multipart/form-data">
                <div class="'card">
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                    <button type="submit" class="btn btn-primary">
                        {% if object %}
                        Сохранить
                        {% else %}
                        Создать
                        {% endif %}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}