{% extends 'catalog/template.html' %}
{% block content %}
<!-- Раздел2 Категории -->
<div class="container px-4 py-5" id="featured-3"> <!-- container с текстами -->
    <h2 class="pb-2 border-bottom text-center">Категории</h2>
    <p class="lead text-center">Форма для работы с категориями</p>

    <form class="row" method="post" enctype="multipart/form-data"> <!-- Разделять формы -->
        <div class="col-6">
            {% if object %}
            <h1 class="mb-4">Редактирование категории</h1>
            {% else %}
            <h1 class="mb-4">Создание категории</h1>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Сохранить</button>
                <a href="{% url 'catalog:category_list' %}">Отмена</a>
            </form>
        </div>
    </form>
</div>
{% endblock %}