{% extends 'catalog/template.html' %}
{% block content %}
<!-- Раздел4 контакты -->
<div class="container px-4 py-5" id="featured-3"> <!-- container с текстами -->
    <h2 class="pb-2 border-bottom text-center">Контакты</h2>
    <p class="lead text-center">Ваши контакты, сир</p>

    <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
        <form method="post" action="">
            {% csrf_token %}
            <div class="card">
                <label for="exampleInputEmail1" class="form-label">Почта</label>
                <input placeholder="email@yandex.ru" type="email" class="form-control" id="exampleInputEmail1" name="mail" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text mb-3">Введите почту</div>

                <label for="exampleInputPassword1" class="form-label">Имя</label>
                <input placeholder="Иван Иванов" type="text" class="form-control mb-3" id="exampleInputPassword1" name="name">

                <label for="exampleFormControlTextarea1" class="form-label">Пример текстового поля</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" name="text" rows="3"></textarea>

                <button type="submit">Отправить</button>
            </div>
        </form>

        <div class="mb-3">
              <h5 class="card-header mb-3">Рекомендуемые</h5>
              <div class="card-body">
                <h5 class="card-title mb-3">Особое обращение с заголовком</h5>
                <p class="card-text">С вспомогательным текстом ниже в качестве естественного перехода к дополнительному контенту.</p>
              </div>
        </div>
    </div>
</div>
{% endblock %}